<div class="nav-container">
  <nav>
    <img src="../../../assets/logo.png" alt="" class="logo" />
    <div class="nav-menu">
      <a class="tel-number">
        <span>
          <img src="../../../assets/call_button.svg" alt="" />
        </span>
        <span>0207 071 3683</span>
      </a>
      <a class="help">
        <img src="../../../assets/Help_button.svg" alt="" />
        <span>HELP</span>
      </a>
      <a class="en">
        <img src="../../../assets/english.png" alt="" />
        <span>En</span>
      </a>
      <a class="menu">
        <img src="../../../assets/menu.svg" alt="" />
      </a>
    </div>
  </nav>
</div>
