<section>
  <div class="form-container">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <div class="form-btn-container">
      <div class="form-label">
        <div class="btn-label">Car Pick-Up</div>
        <div class="form-btn">
          <img src="../../../assets/location.svg" alt="" />
          <span>Drop-off Location</span>
        </div>
      </div>
      <div class="form-label">
        <div class="btn-label">Car Drop-Off</div>
        <div class="form-btn">
          <img src="../../../assets/user.svg" alt="" />
          <label>
            <input type="time" name="" class="dateInput" />
          </label>
          <span>Drop-off Location</span>
        </div>
      </div>
      <div class="form-label">
        <div class="btn-label">Rental Start On</div>
        <div class="form-btn">
          <img src="../../../assets/date_range.svg" alt="" />
          <span>Date</span>
        </div>
      </div>
      <div class="form-label">
        <div class="btn-label">Rental End On</div>
        <div class="form-btn">
          <img src="../../../assets/date_range.svg" alt="" />
          <span>Time</span>
        </div>
      </div>
      <div class="form-label">
        <div class="btn-label">Driver’s Age</div>
        <div class="form-btn">
          <img src="../../../assets/user.svg" alt="" />
          <span>18 - 70 Years</span>
        </div>
      </div>
      <div class="form-label">
        <div class="btn-label">Driver Lives In</div>
        <div class="form-btn">
          <img src="../../../assets/location.svg" alt="" />
          <span>Sri Lanka</span>
        </div>
      </div>
      <div class="form-label">
        <div class="form-btn search-icon">
          <img src="../../../assets/search.svg" alt="" />
        </div>
      </div>
    </div>
    <label class="direct-fght">
      <input type="checkbox" />
      <span>Direct Flights</span>
    </label>
  </div>
</section>
