<section>
  <div class="form-container">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <div class="radio-btn-container">
      <div class="radio-btn">
        <div>
          <input type="radio" id="rt" name="OnewayRoundTripCheck" />
          <label for="rt">Round Trip</label>
        </div>
        <div>
          <input type="radio" id="ow" name="OnewayRoundTripCheck" />
          <label for="ow">One Way</label>
        </div>
        <div>
          <input type="radio" id="mc" name="OnewayRoundTripCheck" />
          <label for="mc">Multi City</label>
        </div>
      </div>
      <label>
        <input type="radio" />
        <span class="asd">Direct Flights</span>
      </label>
    </div>
    <div class="form-btn-container">
      <div class="form-btn">
        <img src="../../../assets/user.svg" alt="" />
        <span>Pick-up Location</span>
      </div>
      <div class="form-btn">
        <img src="../../../assets/location.svg" alt="" />
        <span>Pick-up Location</span>
      </div>
      <div class="form-btn">
        <img src="../../../assets/location.svg" alt="" />
        <span>Date</span>
      </div>
    </div>
  </div>
</section>
