section {
  height: 485px;
  background-image: url("../../../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.form-container {
  position: relative;
  /* width: 1140px; */
  /* min-width: 1140px;
  height: 250px; */
  border-radius: 20px;
  padding: 20px;
  background-color: #041d31bf;
}
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: -30px;
  left: 50%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.radio-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.form-container > .direct-fght > span {
  padding: 15px;
  color: #fff;
}
.radio-btn {
  display: flex;
  justify-content: center;
}
.form-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.form-btn {
  display: flex;
  align-items: center;
  background: #fff;
  height: 40px;
  color: #000;
  border-right: 1px solid #bfc5ca;
  cursor: pointer;
}
.form-btn img {
  margin: 0 10px;
}
.form-btn .dateInput {
  width: 0;
  height: 0;
  outline: none;
  border: none;
}

.btn-label {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
}
.search-icon {
  position: relative;
  top: 11px;
  background: #ff751a;
  padding: 0;
  margin: 0;
  border: none;
}
.search-icon img {
  width: 30px;
}
.form-btn span {
  margin-right: 40px;
}
.form-label:nth-child(1) > .form-btn {
  border-radius: 10px 0 0 10px;
}
.form-label:nth-last-child(1) > .form-btn {
  border-radius: 0 10px 10px 0;
}
